body {
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

audio {
  display: none;
}

.wrapper {
  width: 800px;
  height: 800px;
  border-radius: 10px;
  background: #708090;
  position: absolute;
  left: calc((100vw / 2) - 300px);
  top: calc((100vh / 2) - 400px);
  box-shadow: inset 10px 10px 5px silver, inset -10px -10px 5px silver;
}

.logo-name {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 5% auto;
}

.logo {
  text-transform: uppercase;
}

.logo-top {
  color: white;
  letter-spacing: -1pt;
}

.logo-bottom {
  background: white;
  display: inline-block;
  font-size: 0.6em;
}

.name {
  position: relative;
}

.name-top {
  color: white;
  font-weight: 900;
}

.name-bottom {
  font-weight: 100;
  font-size: 1.8em;
  position: absolute;
  letter-spacing: 3pt;
  top: 4%;
  left: 1%;
}

.pad-wrapper {
  border: 2px solid black;
  width: 70%;
  height: 70%;
  position: absolute;
  border-radius: 10px;
  left: 25%;
  top: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1% 0;
}

.pad {
  box-shadow: inset 5px 5px 5px white, inset -5px -5px 5px white,
    -5px 5px 15px black;
  width: 20%;
  height: 20%;
  background: darkgray;
  border-radius: 5px;
  position: relative;
  transition: 0.2s;
  margin: 0 1% 1% 1%;
}

.pad-label {
  display: flex;
  position: absolute;
  text-transform: uppercase;
  font-size: 0.5em;
  width: 100%;
  left: 0;
  top: 100%;
  margin-top: 6%;
}

.pad-label-left {
  color: white;
  position: absolute;
  width: 40%;
  left: 5%;
}

.pad-label-right {
  position: absolute;
  background: white;
  display: inline-block;
  border-radius: 1px;
  right: 5%;
  top: 0;
  padding: 0 1%;
}

.control-wrapper {
  width: 25%;
  height: 20%;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 3%;
  top: 71%;
}

.control {
  height: 40%;
  width: 25%;
  margin: 0 1%;
}

.control-button {
  border-radius: 3px;
  border: 2px solid black;
  background: lightgrey;
  height: 60%;
  box-shadow: -2px 2px 5px black;
}

.control-label {
  color: white;
  font-size: 0.6em;
  height: 40%;
  text-transform: uppercase;
  text-align: center;
}

.full {
  border: 1px solid black;
  box-shadow: -2px 2px 5px red, 2px -2px 5px red, inset 18px 18px 15px red,
    inset -18px -18px 15px red;
}

.tapped {
  box-shadow: inset 5px 5px 5px red, inset -5px -5px 5px red, -2px 2px 5px black;
}

.sound-select {
  border: 1px solid black;
  width: 160px;
  position: absolute;
  left: calc((100vw / 2) - 470px);
  top: calc((100vh / 2) - 400px);
}
